* {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
    height: 100%;
    margin: 0;
}

.app {
    background: url("../img/background.jpg") no-repeat center / 100% 100%;
    height: 100%;
    position: relative;
}

.title {
    position: absolute;
    text-align: center;
    top: 44%;
    width: 100%;
}

.title h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 2px;
}

.copyright {
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.copyright a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .app {
        background: url("../img/background-mobile.jpg") no-repeat center / 100% 100%;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}
