html, body {
    height: 100%;
}

body, h1 {
    margin: 0;
}

.app {
    color: #ffffff;
    height: 100%;
    position: relative;
}

.title {
    position: absolute;
    text-align: center;
    top: 44%;
    width: 100%;
}

.title h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.copyright {
    bottom: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.copyright a {
    color: #ffffff;
    text-decoration: none;
}

video {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}